# My Jupyter Notebook on IBM Watson Studio

#### SANDEEP REDDY

- Student at ANNA UNIVERSITY - CHENNAI , INDIA

<i> I am interested in data science because i do electronics and communication engineering and has a aim to become the data scientist / data analyst<i>

## Calculating the sum of 1 plus 1

In [2]:
1+1

2

1. HELLO
2. EVERYONE

<s> This is my notebook </s>

- this
- is
- my
- notebook

In [13]:
from tabulate import tabulate
table = [["sun",696000,1918900000],["Earth",6371,5973.6],["Moon",1737,73.5],["Mars",3390,641.85]]
print(tabulate(table, headers=["planet", "R (Km)", "Mass (x 10^29 Kg)"]))

planet      R (Km)    Mass (x 10^29 Kg)
--------  --------  -------------------
sun         696000           1.9189e+09
Earth         6371        5973.6
Moon          1737          73.5
Mars          3390         641.85

<a> www.google.co.in </a>

<blockquote><font color="#ff7700">print</font>&nbsp;<font color="#483d8b">&quot;Hello&nbsp;World!&quot;</font></blockquote>

 <img src="img_girl.jpg" alt="Girl in a jacket" width="500" height="600">